In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("pandasEDACleaning.ipynb")

## Lecture Section

In this lecture, we will cover more of the `pandas` library.
Specifically:

* Cleaning Data
    * Replacing `None` values
    * Changing data types/formats
    * Removing duplicate rows
* Exploratory Data Analysis
    * Finding mean, median, mode of a column
    * Summarizing the data
    * Correlations

We will be working with the synthetic (not-real-world data) below.

In [ ]:
import pandas as pd
df = pd.read_csv('data/synthetic_data.csv')
df.head()

First, we want to see the general information about our dataset. Use `.info()` to do this in the code block below.

Take note of how many rows there are in the dataset. Which columns have missing data? Are any of the columns the wrong type?

### Cleaning

Let's handle the missing data first. We have three options. We can remove the rows that have missing data, fill in the missing data with a different value, or we can fill in the missing data with a different value depending on the column of the missing data.

**Drop rows with missing data**

Replace the `XXX` with the `.dropna()` method.

In [ ]:
dropped_rows = df.XXX
dropped_rows.info()

**Changing all missing data to some value**

Replace the `XXX` with the `.fillna()` method. Pass 130 as the argument.

In [ ]:
df_replaced_130 = df.XXX
df_replaced_130.info()

In [ ]:
df_replaced_130.head()

**Change missing values to some value based on column**

In [ ]:
df_new_stat = df.fillna({"Status": 'Missing'}) # replace NAs with a blanket value
df_new_stat.head()

In [ ]:
df_new_stat.info()

In [ ]:
df_new_stat.fillna({"Score":df['Score'].mean()}, inplace=True) # replace it with the average of column
df_new_stat.info()

To find the median or mode, we can use `.median()` and `.mode()`.

Now we want to fix the JoinDate column. Some of the entries don't look like dates, so we will use `.to_datetime()` to fix that.

In [ ]:
df['JoinDate'] = pd.to_datetime(df['JoinDate'].str.strip("'"))
df.info()

In [ ]:
df.head()

What if we know a value is wrong? For example, row 1 has a score of 120.9, but all other rows have scores between 0 and 100.

In [ ]:
df.loc[1, "Score"] = 100 # change single value
df.head()

We can change it one-by-one like above, or we can make a rule and change multiple rows at once.

In [ ]:
for x in df.index:
    if df.loc[x, "Score"] > 100:
        df.loc[x, "Score"] = 100

df.head()

Another option is to use `.drop(index)` and remove the row with the wrong data.

Finally, let's check for duplicated rows using `.duplicated()`. Try it in the code block below. How many rows are duplicated?

We can remove the duplicated rows with `drop_duplicates()`

In [ ]:
df.drop_duplicates(inplace=True)
df.info()

### Exploratory Data Analysis

We have already covered some aspects of EDA. For example, `.info()` tells us how many rows we have, of what types, and how many NA values exist within each of our columns. We also used `.mean()` a few moments ago, and we can use `.mode()` and `.median()` in a similar way.

In [ ]:
print(df['Score'].mean())
print(df['Score'].mode(0)) #NaN because there are no duplicates
                        # 0 means by column, 1 by row
print(df['Score'].median())

We will continue to introduce aspects of EDA in Python throughout other lectures. However, we will introduce one more function now: `corr()`. `corr()` returns a correlation matrix of the *features in your dataframe.

* features are also known as your independant variables, or x's.

`corr()` only works with numeric columns. Since we only have Score, we could convert Status to a numeric mapping and run `corr()`

In [ ]:
status_map = {
    'Pending': 0,
    'Missing': 1,
    'Inactive': 2,
    'Active': 3
}

df['Status_Num'] = df['Status'].map(status_map)
new_df = df[['Status_Num', 'Score']]
correlation = new_df.corr()
print(correlation)

Another option is to create `dummy` variables out of Status. This will give us a correlation between each Status and the Score variable.

In [ ]:
dummies = pd.get_dummies(df['Status'], prefix='Status')
new_df = pd.concat([dummies, df['Score']], axis=1)
correlation_matrix = new_df.corr()
print(correlation_matrix['Score'].drop('Score'))

We can tell from both that there is not much of a correlation to be found, because the synthetic data was created randomly.

In a future lecture, we will see how to turn the correlations into heatmaps.

## Assignment Section

**Question 1.**

We will borrow a dataset from Kaggle for this exercise. I have edited it for the purposes of this course.
https://www.kaggle.com/datasets/msjahid/colorado-motor-vehicle-sales-data

For this problem, you will use `pandas` to read the `"data/colorado_motor_vehicle_sales.csv"` file.
The dataset has missing information:
* Replace null data in the `sales` column with `0`.
* If the country is "xxx", replace it with "NA".

In [ ]:
import pandas as pd
df = pd.read_csv('data/colorado_motor_vehicle_sales.csv')

In [ ]:
grader.check("q1")

**Question 2.**
Using the same dataframe from Question 1, change the `0`s in the `sales` column to the mean of the `sales` column.

In [ ]:
grader.check("q2")

**Question 3.**

Using the same dataframe as Question2:
* Find the correlation between quarter and sales and save the matrix in `correlation_quarter`
* Find the correlation between year and sales and save the matrix in `correlation_year`
* Using the example in the lecture, create a dummy variable of `year` (use `prefix = "q"`), then find the correlation between the dummy variable and `sales`. Save the output to `correlation_matrix`.

In [ ]:
correlation_quarter = ...

correlation_year = ...
print(correlation_quarter)
print(correlation_year)


dummies = ...
new_df_quart_sep = ...
correlation_matrix = ...
print(correlation_matrix['sales'])

In [ ]:
grader.check("q3")

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()